.correct {
  background-color: #bbf7d0 !important; /* Light green */
  color: #065f46 !important;
}

.wrong {
  background-color: #fecaca !important; /* Light red */
  color: #7f1d1d !important;
}
